*{
    padding:0;
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-container {
    display:flex;
    background-color: #00736c;
    color:white;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    margin-bottom: 20px;
}

.search-container{
    display:flex;
    align-items: center;
    gap:20px;
}

.search-icon {
    display:flex;
    font-size: 20px;
    cursor:pointer;
}

.input-text{
    cursor:text;
    padding:10px;
    border-radius: 5px;
}

.button-add{
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    background-color: #ded4c8;
    transition-duration: 1s;
}

.button-add:hover {
    background-color: #00736c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px #ffffff solid;
    color: white;
    transition-duration: 1s; 
}

/*Agregar un nuevo contacto*/
.add-contact-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width:20%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    background-color: rgba(198, 192, 192, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999; /* Asegura que esté en el frente de otros elementos */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }
  
  .input-add-contact {
    
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 16px);
    margin-right: 16px;
    border-radius: 5px;
    border: #ded4c8;
  }
  
  .add-contact-popup button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00736c;
    color: white;
  }

  
  .add-contact-popup .button-close-add-contact-popup {
    align-self: flex-end;
    background-color: #fff;
    background-color: rgba(198, 192, 192, 0.9);
    color: #00736c;
  }


  .title-add-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  /*Estilo para nuevos contactos*/
  
  .contacto-card-new {
    width: calc(24% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 5px 5px 10px rgb(201, 201, 201);
  }

  .icon-contact-card {
    padding-right: 15px;
  }
  
  .contacto-card-text-name-new {
    font-weight: bold;
    color: #333;
    padding-top:5px;
    padding-bottom: 10px;
  }
  
  .contacto-card-text-mobile-new, .contacto-card-text-email-new {
    color: #333;
    padding-bottom: 10px;
  }

.contacto-card-new {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    width: calc(25% - 20px);
    box-sizing: border-box;
    display: inline-block;
  }
  
  .contacto-card-text-new {
    display: flex;
    flex-direction: column;
  }
  
  .contacto-card-text p {
    margin: 5px 0;
  }
  
  
  .contacto-card-text-city-new {
    font-style: italic;
    color: #6c757d;
  }

  /* Media query para dispositivos con una pantalla entre 481px y 768px de ancho (tamaños de teléfono y tablet pequeñas) */
@media (min-width: 481px) and (max-width: 768px) {
  .button-add {
    display: none;
  }
}


  