*{
    padding:0;
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contacto-card {
  display: flex;
  flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 5px 5px 10px rgb(201, 201, 201);
  }
  
  .contacto-card-text {
    display: flex;
    flex-direction: column;
  }

.contact-number {
  display:flex;
  background-color: #ded4c8;
  justify-content: space-between;
  align-items: center;
  color:white;
  padding:10px;
  font-size: large;
  font-weight: bold;
}

.contacto-card-word {
  font-size:15px;
  font-weight: 100;
  cursor:pointer;
}
  .contacto-card-text p {
    margin: 5px 0;
  }

  .icon-contact-card {
    padding-right: 15px;
  }
  
  /* Estilos específicos para cada campo */
  .contacto-card-text-name {
    font-weight: bold;
    color: #333;
  }
  
  .contacto-card-text-mobile {
    color: #333;
  }
  
  .contacto-card-text-email {
    color: #333;
  }
  
  .contacto-card-text-city {
    font-style: italic;
    color: #6c757d;
  }

.contacto-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    width: calc(25% - 20px);
    box-sizing: border-box;
    display: inline-block;
  }
  
  .contacto-card-text {
    display: flex;
    flex-direction: column;
  }
  
  .contacto-card-text p {
    margin: 5px 0;
  }
  
  /* Estilos específicos para cada campo */
  .contacto-card-text-name {
    font-weight: bold;
    color: #333;
  }
  
  .contacto-card-text-mobile {
    color: #333;
  }
  
  .contacto-card-text-email {
    color: #333;
  }
  
  .contacto-card-text-city {
    font-style: italic;
    color: #6c757d;
  }
  
  
  @media (max-width: 768px) {
    .contacto-card {
      width: calc(50% - 20px);
    }
  }
  
  
